.default {
  margin: 0;
  font-family: "Lack";
}

.title {
  font-size: 48px;
  padding: 25px 0 50px 0;
}

.subheading {
  font-size: 12px;
}

.bold {
  font-weight: 700;
}

.secondary {
  color: #6c698c;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
