.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
