.pagecreate {
  display: flex;
  height: 100%;
}

.leftcontent {
  width: 40vw;
  margin: 15px;
  border-radius: 50px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(75.83deg, #6ee691 0%, #9bebeb 100%); */
}

.rightcontent {
  width: 60vw;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 150px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}

.button {
  margin: 8px;
  grid-area: 6 / 1 / 6 / 3;
}

@media (max-width: 600px) {
  .leftcontent {
    display: none;
  }
  .rightcontent {
    width: 100vw;
  }
  .form {
    display: block;
  }
}

@media (max-width: 1200px) {
  .pagecreate {
    flex-direction: column;
  }
  .leftcontent {
    width: 95%;
  }
}
