.button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid black;
  min-width: 107px;
  /* min-width: 150px; */
  white-space: nowrap;
  text-align: center;
  background-color: aquamarine;
}

.secondary {
  color: black;
  background: white;
}
