.button {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid black;
  box-shadow: 3px 2px 0 0 black;
  /* min-width: 150px; */
  white-space: nowrap;
  text-align: center;
  background-color: aquamarine;
}

.minwidth {
  min-width: 107px;
  padding: 10px;
}

.secondary {
  color: black;
  background: white;
}

.error {
  background: brown;
}
