.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border-bottom: 3px solid black;
}

.itemNavigation {
  display: inline;
}

.navcontainer {
  border-left: 3px solid black;
  border-right: 3px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10%;
}

.itemHref {
  text-decoration: none;
  position: relative;
  margin: 10px;
}

.itemHref::before {
  content: "";
  background-color: aquamarine;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 5px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.itemHref:hover::before {
  bottom: 0;
  height: 100%;
}

.icon {
  background-color: aquamarine;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 2px 0px 0px #000000;
}

.account {
  display: flex;
  align-items: center;
}

.burgerMenu {
  display: none;
}

@media (max-width: 900px) {
  .burgerMenu {
    display: block;
  }
  .fullScreen {
    display: none;
  }
}
